.SectionProjects.dark h3{
    color: var(--color-text-dark);
}
.SectionProjects.light h3{
    color: var(--color-text-light);
}

.SectionCategory{
    min-height: auto;
    margin-left: 50px;
}

.SectionCategory > h3{
    margin-left: 10px;
    font-size: 25px;   

}


  /* Estilos para telas médias (tablets) */
@media (max-width: 1020px) and (min-width: 768px) {

    .SectionCategory > h3{
            font-size: 30px;   
    }

}

@media (min-width: 1020px){
    .SectionCategory > h3{
        font-size: 40px;   
    }

}