.SectionProjects.dark h3{
    color: var(--color-text-dark);
}
.SectionProjects.light h3{
    color: var(--color-text-light);
}

.SectionCategory{
    display: flex;
    justify-content: space-between;
    min-height: auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -50px;
    padding-top: 50px;
    padding-bottom: 5px;
    flex-wrap: wrap; /* Permite quebrar linha */
}

 h3{
    font-size: 25px;   

}


  /* Estilos para telas médias (tablets) */
@media (max-width: 1020px) and (min-width: 768px) {

     h3{
         font-size: 30px;   
    }

}

@media (min-width: 1020px){
    h3{
        font-size: 40px;   
        margin-left: 50px;


    }

}