.App-home{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.FirstSection{
    display:flex;
    text-align: center;
    flex-direction: column;
    height: 70%;
    align-items: center;
}

.Home-description{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    font-size: 50px;
    font-weight: 150;
    color: rgb(30, 255, 0);
    margin-bottom: 20%;
}

.Home-description.dark{
    color: var(--color-text-dark);
}
.Home-description.light{
    color: var(--color-text-light);
}
.Home-description > p{
    position: relative;
    margin-top: 100px;
    margin-left: 10px;
}

.ImageCode{
    height: 100px;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

  
  /* Estilos para telas médias (tablets) */
@media (max-width: 1020px) and (min-width: 768px) {
    .Home-description{
        font-size: 3rem;
        font-weight: 300;
        flex-direction: row;    
    }
    .Home-description > p{
        width: 300px;
        text-align: justify;
        margin-left: 150px;
    }

    .FirstSection{
        height: 40%;
        flex-direction: row;

    }

    .ImageCode{
        height: 200px;
        width: 200px;
        margin: 0;
        margin-top: 100px;
        margin-left: 5%;
    }
}


/* Estilos para telas grandes (desktop) */
@media (min-width: 1021px) {
    .Home-description{
        font-weight: 200;
        font-size: 5rem;        
        flex-direction: row;
    }
    
    .Home-description > p{
        width: 500px;
        text-align: justify;
        margin-left: 25%;
    }

    .FirstSection{
        height: 70%;
        flex-direction: row;
    }

    .ImageCode{
        height: 250px;
        width: 250px;
        margin: 0;
        margin-top: 100px;
        margin-left: 5%;
    }  

}
  