.App-home{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: flex-start;
    background-color: rgb(207, 206, 206);
    height: 100vh;
}

.Home-description{
    background-color: rgb(218, 140, 228);
    display:flex;
    flex-direction: column;
    height: 40%;
    align-items: center;

}

.Home-description > h4{
    margin-top: 50px;
    margin-left: 10px;
    color: white;
}

.Home-description > button {
    background: rgba(255, 255, 255, 0.233);
    border: 2px solid white;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    width: 100px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
  }

  .Home-description > button:hover {
    background: rgba(255, 255, 255, 0.781);
  } 