.CardsTech{
    display: flex;
    flex-direction: column;
    margin-left: 20%;    
}

.Stack.dark{
color: var(--color-text-dark);
}
.Stack.light{
  color: var(--color-text-light);
}

.Stack h3 {
  margin-left: 50px;
  font-size: 40px;
}

  /* Estilos para telas médias (tablets) */

@media (max-width: 1020px) and (min-width: 768px) {
  .CardsTech{
    flex-direction: column;
    justify-content: space-around;
    margin-left: 0px;
  }

}

@media (min-width: 1021px) {
  .CardsTech{
    flex-direction: row;
    justify-content: space-around;
    margin-left: 0px;
  }

}