.CardProject{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    margin-left: 10px;
    margin-bottom: 50px;
}

.CardActions{
    margin-top: auto;
}

.CardProject > .CardContent > .TitleCard{
    font-weight: 500;
    font-size: 16px;
}


@media (max-width: 1020px) and (min-width: 768px) {
    .CardProject{
        width: 200px;
        height: 250px;
        margin-left: 10px;
        margin-bottom: 50px;
    }

    .CardProject > .CardContent > .TitleCard{
        font-weight: 750;
        font-size: 24px;
    }
    .CardProject > .CardContent > .DescriptionCard{
        font-size: 18px;
    }

}


@media (min-width: 1021px) {
    .CardProject{
        width: 400px;
        height: 500px;
        margin-left: 10px;
        margin-bottom: 50px;
    }

    .CardProject > .CardContent > .TitleCard{
        font-weight: 750;
        font-size: 34px;
    }
    .CardProject > .CardContent > .DescriptionCard{
        font-size: 24px;
    }   

}