.AboutMe{
    background-color: gainsboro;
    border-top-left-radius: 65px;
    border-top-right-radius: 65px;
    margin-top: -100px;
    height: auto;
}


.AboutMe{
    height: auto;
}

.AboutMe > h2{
    font-size: 50px;
    margin-left: 50px;
}

.AboutMe > h3{
    font-size: 30px;
    margin-left: 50px;
}

.IconAboutMe{
    width: 50px;
    height: 50px;
}
.TextAboutMe{
    font-size: 25px;
}

.IconAboutMe{
    width: 50px;
    height: 50px;
}

ul {
    list-style: none;
    padding-left: 100px;   
}

.listAboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listAboutMe li{
    display: flex;
    clear:both;
    margin-bottom: 10px;
    align-items: center;
}

.listAboutMe img {
    float: left;
    margin-right: 10px;
  }
  
.listAboutMe span {
    display: block;
  }


 /* Estilos para telas médias (tablets) */

 @media (max-width: 1020px) and (min-width: 768px) {


 }