.App-header {
    background-color: #333436;
    display: flex;
    font-size: calc(5px + 2vmin);
    color: rgb(255, 255, 255);
    align-content: center;
  }

.App-header > h1{
  font-size: large;
  font-weight: normal;
  margin-left: 10px;
}