.App-header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100% ;
    height: 80px;
    font-size: calc(5px + 2vmin);
  }

.App-header.light{
  background-color: #e9e9e9e8;

}
.App-header.dark{
  background-color: #333232de;

}
.App-header.light p{
  color: var(--color-text-light);
}
.App-header.light h1{
  color: var(--color-text-light);
}
.App-header.dark p{
  color: var(--color-text-dark);
}
.App-header.dark h1{
  color: var(--color-text-dark);
}

.Name{
  text-decoration: none;
}

.Name > h1{
  font-size: 2rem;
  font-weight: normal;
  margin-left: 10px;
}

.Categories{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 20px;
}

.CategoryProject {
  margin-left: 10px;
  text-decoration: none;
}

.BtSwitchTheme{
  background-color: transparent;
  border: transparent;
  margin-left: 25px;
  margin-right: 25px;

}

.BtSwitchTheme.dark:hover{
  background-color: hwb(0 100% 0% / 0.103);
}

.BtSwitchTheme.light:hover{
  background-color: rgba(0, 0, 0, 0.103);
}

@media (max-width: 1023px) and (min-width: 768px) {
  .Categories{
    margin-top: 10px;
  }

}

/* Estilos para telas grandes (desktop) */
@media (min-width: 1021px) {
  .Categories{
    margin-top: 10px;
  } 

}