 :root {
  --light-bg-color: rgb(240, 240, 240);
  --dark-bg-color: rgb(51, 51, 51);

}
.App.dark {
  background-color: var(--dark-bg-color);
}

.App.dark + h3 {
  color: white;
}
.App.light{
  background-color: var(--light-bg-color);
}
